#helpy{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 60px;
    margin: 5px;
}

#helpy2{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 60px;
    margin: 5px;
}

.sidebar{
    transition: 0.5s;
}

@media screen and (orientation: portrait) {
    .container-fluid .Contenido{
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #helpy{
        display: none;
    }
}